html {
	background: url(bg.jpeg) repeat;
	background-size: 500px;
	color: white;
}

main {
	max-width: 900px;
	padding: 0 50px;
	margin: auto;
	text-align: center;
}

.hero {
	max-width: 100%;
}

.facts {
	text-align: left;
}
